<div class="container">
<div class="row d-flex justify-content-center mt-4">
<div class="col-8">
    <div class="row">
        <h1 class="col mb-4 offset-3">Sign In</h1>
    </div>
    <%= form_with url: signin_path do |form| %>
        <div class="row align-items-center mb-3">
            <div class="col-2 offset-3">
                <%= form.label :email %>
            </div>
            <div class="col-4 pe-0">
                <%= form.text_field :email, class: "form-control", placeholder: "john@email.com" %>
            </div>
            <div class="col-3 ps-4">
                <span class="form-text"></span>
            </div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col-2 offset-3">
                <%= form.label :password %>
            </div>
            <div class="col-4 pe-0">
                <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>
        </div>
        <div class="row mt-4 justify-content-end">
            <%= form.submit "Sign In", class: "col-2 btn btn-primary" %>
            <div class="col-3"></div>
        </div>
    <% end %>
    <hr class="col-6 offset-3 me-0 pe-0">
    <div class="row pe-0 justify-content-center">
        <p class="col-6 text-center">Don't have an account yet? <span><%= link_to "Sign up.", signup_path, class: "" %></span></p>
    </div>
</div>
</div>
</div>
