<div class="d-flex flex-row align-items-center w-50 my-4 gx-4">
    <%
=begin%>
 <%= image_tag toy.image, class: "w-25"  %> 
<%
=end%>
    <% if toy.images.length == 1 %>
        <%= image_tag toy.images.first, class: "d-block col-3"%>
    <% elsif toy.images.length > 1 %>
        <div id="carouselExampleControls" class="carousel carousel-dark slide col-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% toy.images.each do |image| %>
                    <% if image == toy.images.first %>
                        <div class="carousel-item active">
                            <%= image_tag image, class: "d-block w-100"%>
                        </div>
                    <% else %>
                        <div class="carousel-item">
                            <%= image_tag image, class: "d-block w-100"%>
                        </div>
                    <% end %>           
                <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    <% end %>
    <div class="d-flex flex-column ps-4">
        <div class="d-flex justify-content-between align-items-center">
            <h3><%= toy.toy_name %></h3>
            <% if current_page?(dashboard_path) %>
                <%= link_to "Edit Toy", edit_toy_path(toy) %>
            <% end %>
        </div>
        <p class="fw-light fst-italic"><%= toy.category %></p>
        <%= toy.description %>
        <p class="fw-light mt-4">Added by: <span class="fw-semibold"><%= toy.user.name %></span></p>
    </div>
</div>